#profile {
  margin-top: 50px;
}

.profile-description {
  width: 400px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  background: linear-gradient(#fdede4, #ffc0cb);
  border-radius: 5px;
  flex-flow: column-reverse;
}

a {
  color: #cc0033;
}

.runa {
  /* float: left; */
}

.runa-image {
  border-radius: 50%;
}

.profile-contents {
  /* float: right; */
}
